{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}
    <h1>Toutes les catégories</h1>
    {% for category in categories %}
        <div>
            <h2>{{ loop.index }} / {{ category.name }}</h2>
        </div>
    {% endfor %}
{% endblock %}