
<nav class="navbar navbar-expand-lg navbar-light bg-third">
    <a class="navbar-brand" href="/">Wild Séries</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/programs">Programs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/programs/new">New program</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="/categories"> Categories </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/categories/new">New category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/actor">Acteurs</a>
            </li>
        </ul>
        <div class="navPushRight">
            <a href="{{ path('season_index') }}">seasons</a>
            <a href="{{ path('episode_index') }}">episodes</a>
        </div>
    </div>
</nav>
