{% extends 'base.html.twig' %}

{% block title %}All actors{% endblock %}

{% block body %}
    <h1>Tous les acteurs</h1>
    {% for actor in actors %}
        <div>
            <h2>{{ loop.index }} / <a href="{{ path("actor_show", { id: actor.id }) }}">{{ actor.name }}</a></h2>
        </div>
    {% else %}
        Aucun acteur trouvé.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}