body {
    background-color: lightgray;
}

$theme-colors: (
    "primary": #264653,
    "secondary": #2a9d8f,
    "third": #e9c46a
);
@import "~bootstrap/scss/bootstrap";

.bodyContent{
  padding: 10px;
}