
{% extends 'base.html.twig' %}
{% block title %}Wild Series{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="title-center welcome">Bienvenue sur Wild Series !</h1>
        <h2>Les toutes dernières séries</h2>
        {% for program in programs %}
            <div class="card">
                <div class="card-body">
                    <h2>{{ program.title }} - Catégorie : {{ program.category.name }}</h2>
                    <p>{{ program.summary }}</p>
                    <a href="{{ path("program_show", { program: program.slug }) }}">Voir la fiche</a>
                </div>
            </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}
    </div>
{% endblock %}